a {
  transition: 0.2s ease-out;
}

/*HEADER*/

.header-bg {
    background-color: #2e314b;
    background-image: url(../img/Bg-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    max-width: 1900px;
    margin: 0 auto;
}

.header-wrapper {
    max-width: 1180px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #505369;
}

.header-logo {
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-menu a {
    text-decoration: none;
    color: #cacbd1;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: bold;

    margin-right: 68px;
}

.header-menu a:last-child {
    margin-right: 0px;
}

.header-menu a:hover {
    cursor: pointer;
    color: #e84545;
}


/*ACTIVE BOX*/

.header-box {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}


.header-box-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.09;
    color: #ffffff;

    padding-top: 155px;
    padding-bottom: 45px;
}


.header-box-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #d6d6db;
}

.header-box-button {
    margin-top: 80px;
    margin-bottom: 156px;
}
.header-box-button a {
    text-decoration: none;
    padding: 20px 46px;
    text-align: center;
    border: 1px solid #e84545;
    background-color: #e84545;
    border-radius: 1px;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 1.615;
    color: #fdf3f3;
}

.header-box-button a:hover {
    color:#e84545;
    background-color: #fdf3f3;
    border-color: #2d304a;
}

/*ADVANTAGES */

.advantages-wrapper {
    background-color: #ffffff;
    max-width: 1900px;
    margin: 0 auto;
}

.advantages-content {
    max-width: 1180px;
    margin:0 auto;
    padding: 120px 15px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    max-width: 1180px;
    margin: auto;
    margin-bottom:74px;
    padding: 0 15px;
}

.row:last-child {
     margin-bottom:0px;
}

.advantages-content-item {
     margin-right: 88px;
}

.advantages-content-item:nth-child(3n) {
    margin-right: 0px;
}

.advantages-icon {
    margin-bottom: 34px;
}

.advantages-item-header  {
    margin-bottom: 25px;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color:#2d3033;

}

.advantages-item-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

/* Works */

.works-wrapper {
   /* display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;



    margin: auto;
    max-width:1900px;*/

    margin-bottom: 100px;

}

.works-content {
    display: flex;
    justify-content: center;
    text-align: center;

    flex-direction: column;

    margin: auto;

}

.row-works {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.work-item {
  border: 1px solid #ffffff;
  width: 25%;
  height: 254px;
  margin: 0 auto;

  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  transition: .5s ease;

  background-size: cover;
  background-position: center;

  position: relative;

}
.work-item p {
  opacity: 0;
  transition: .5s ease;

}
.work-item:after{
	content: "";
	display: inline-block;
	background: rgba(212, 64, 64, 0.9);
	width: 100%;
    height: 254px;
	opacity: 0;

	position: absolute;

}

.work-item:hover:after{
   cursor: pointer;
	opacity: 1;
}

.work-item:hover p {
    opacity: 1;
	z-index: 2;
}

.work-item img {
    width: 470px;
}

.work-item-text-name {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;

    margin-bottom: 17px;
}

.work-item-text-content {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #ffffff;
}


.work-item-1 {
  background-image: url(../Img/content-1.jpg);

}

.work-item-2 {
  background-image: url(../Img/content-2.jpg);
}

.work-item-3 {
  background-image: url(../Img/content-3.jpg);
}


.work-item-4 {
  background-image: url(../Img/content-4.jpg);
}


.work-item-5 {
  background-image: url(../Img/content-5.jpg);
}

.work-item-6 {
  background-image: url(../Img/content-6.jpg);
}

.work-item-7 {
  background-image: url(../Img/content-7.jpg);
}


.work-item-8 {
  background-image: url(../Img/content-8.jpg);
}

/* Team */

.team-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    padding: 0 15px;
    margin: auto;
    max-width:1900px;
}

.team-content {
    max-width: 1180px;
    margin:0 auto;
    margin-bottom: 100px;
    padding: 0px 15px;

    display: flex;
    justify-content: center;
}

.team-content-item {
    width: 25%;
    margin-right: 30px;

    text-align: left;
}

.team-content-item:last-child {
    margin-right: 0px;
}

.team-person-info {
	padding-top: 30px;
}

.team-person-name {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #2d3033;
	margin-bottom: 17px;

   /* margin-top: 30px;
    */
}

.team-person-job {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #e84545;
    font-weight: 500;
    text-transform: uppercase;

	margin-bottom: 30px;
}

.team-person-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
	margin-bottom: 30px;

  /*  margin-top: 30px; */
}

.team-person-social-icons {
    display: flex;
}

.team-icon-item {
    border: 1px solid #e8ecee;


    margin-right: 4px;


    color:#c6cacc;
}
.team-icon-item:last-child {
    margin-right:0px;
}

.team-icon-item a {
    text-decoration: none;
    color:#c6cacc;

}

.team-icon-item i {
	 padding: 11px;
}


.team-icon-item a:hover {
    cursor: pointer;
    color: #e84545;
}

.facebook i {
    padding: 10px 15px;
}

.twitter i {
    padding: 12px 10px;
}

/* Clients */

.clients-wrapper {
    margin-bottom: 100px;

}

.client-img {
	background-image:url(../img/Client-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.client-box {
    width: 50%;
    overflow: hidden;
    background: no-repeat cover;
}

.clients-content {
    display: flex;

}

.client-info {
    background-color: #53354a;
	padding: 100px 0 100px 70px;

  /*  text-align: left;

    padding-top: 112px;
    padding-left: 85px;
    padding-bottom:103px;*/
}

.client-feedback {
    font-family: 'Cardo', serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.17;
    color: #ffffff;
	max-width: 80%;

   /* padding-right: 380px;*/
}


.client-about {
    margin-top:38px;
    margin-bottom: 62px;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 1.62;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

.client-info-navigator {
   /* margin-bottom:102px;
    margin-left: 100px;*/

    display: flex;

}

.client-button {
    margin-right: 8px;
    width: 12px;
    height: 12px;
    background-color: #755d6e;
    border-radius: 50%;
}

.client-button:last-child {
    margin-right: 0px;
}

.client-button:hover {
    background-color: #ffffff;
    cursor: pointer;
}
.client-button a {
    text-decoration: none;
    display:block;
}

/*Download*/

.download-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;


    padding: 0 15px;
    margin: auto;

    max-width:1900px;
}

.download-content {
    max-width: 1180px;
    margin: auto;
}

.download-header {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 0.75;
    color: #2d3033;
    margin-bottom:21px;
}


.download-text {
    margin-bottom: 58px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 1.615;
    font-weight: bold;
    text-transform: uppercase;
    color: #2d3033;

}

.download-button {
    margin-bottom: 100px;
}
.download-button a {
    text-decoration: none;
    padding: 18px 82px;
    text-align: center;
    border: 1px solid #e84545;
    background-color: #e84545;
    border-radius: 1px;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.615;
    color: #fce6e6;
    text-transform: uppercase;
}

.download-button a:hover {
    color:#e84545;
    background-color: #fdf3f3;
    border-color: #2d304a;
}

/*Contacts*/

.contacts-wrapper {
    background-color: #3a3e64;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;


    padding: 0 15px;
    padding-top: 70px;
    margin: auto;

    max-width:1900px;
}

.contacts-content {
    max-width: 1180px;
    margin: auto;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;


   padding-bottom:90px;
}

.location {
      margin-right: 247px;
}


.location-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom:20px;
}

.location-address {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #777a90;
    line-height: 1.61;
}
.social-contacts {
    margin-right: 155px;
}

.social-text {
    padding-bottom: 20px;
}

.social-contacts-icons {
    display: flex;
}


.social-contacts-icons-item {
    border: 2px solid #ffffff;
    border-radius: 1px;
    margin-right: 7px;
}

.social-contacts-icons-item:last-child {
    margin-right: 0px;
}

.social-contacts-icons-item a {
    text-decoration: none;
    color: #ffffff;
}

.social-contacts-icons-item .facebook i {
	padding: 8px 13px;
}

.social-contacts-icons-item .twitter i {
	padding: 10px 7px;
}

.linkedin i {
	padding: 11px;
}


.social-contacts-icons-item a:hover {
    cursor: pointer;
    color: #e84545;
}

.about-us {
    width: 330px;
}

.about-us-header {
    padding-bottom: 21px;
}

.about-us-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #777a90;
    line-height: 1.61;
}

/*footer*/
.footer-wrapper {
    background-color: #313454;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;


    padding: 28px 15px;
    margin: auto;

    max-width:1900px;
}

.footer-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #808080;
    line-height: 1.61;
}

.footer-text-author  {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #808080;
    line-height: 1.61;
}
.white {
    color: #e4e4e8;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.61;
}

.footer-text-author img {
   padding-top:3px;
}

.footer-content a {
	text-decoration: none;

}










































